{% extends '@app/index.html.twig' %}

{% block headcss %}
<link href="/assets/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in with Bitly</h2>
            <a class="btn btn-lg btn-primary btn-block" href="{{ bitlyUrl }}">
                <img src="/assets/images/pufferfish.png" alt="bitly puffer fish" height="40" width="50">
                Log in
            </a>
        </form>

    </div>
{% endblock %}